body {
  margin: 0;
    background-color: antiquewhite;
    color:purple;
    border-style: solid;
    border-color: black;
    padding: 20px
}
a{
  border: double;
  padding: 5px;
  color: purple;
}
/* Style the header */
.header {
  padding: 20px;
  text-align: center;
  display:flex;
  font-family:Arial, Helvetica, sans-serif
}
/* Style the topnav links */
.topnav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Create one column for skills */
.ColumnSide {
  text-align: left;
  width: 65%;
  font-size: small;
  padding:20px;
  
}
h2{
  font-size: x-large;
}
/* Sidebar */
aside {
  width: 30%;
  text-align: left;
  padding: 10px;
  border: solid;
  box-shadow: 10px 10px 10px;
  font-size: small;
}
  /* Centercolumn */
.ColumnCenter {
  width: 100%;
  text-align: left;
  padding:20px;
  font-size: medium;
}
h4{
  font-size:x-large;
}
 /* Bottom Column */
.ColumnBottom {
  text-align: left;
  font-size: large;
  padding:20px
}
h5{
  font-size: x-large;
}
.side_by_side {
  display: flex;
}
