body {
  margin: 10;
    color: black;
}
a{
  border: double;
  padding: 5px;
  color: black;
}
.bg-image {
    /* Position: absolute will put the element with this class at the top left of the page without caring what other elements are around it. Aka: other elements won't affect this element's position*/
    position: absolute;
    /* These will horizontally center this element on the page*/
    left: 50%;
    transform: translate(-50%, 0%);
    -webkit-filter: blur(2px);
    width: 95%;;
}
.main-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 80%;
  padding: 20px;
  background: rgb(255 255 255 / 45%);
  margin-top: 4%;
  border: white;
  box-shadow: white 10px 10px 10px;
}
/* Style the header */
.header {
  padding: 20px;
  text-align: center;
  display:flex;
  font-family:Arial, Helvetica, sans-serif
}
/* Style the topnav links */
.topnav a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* Create one column for skills */
.ColumnSide {
  text-align: left;
  width: 65%;
  font-size: small;
  padding:20px;


}
h2{
  font-size: x-large;
}
/* Sidebar */
aside {
  width: 30%;
  text-align: left;
  padding: 10px;
  border: solid;
  box-shadow: 10px 10px 10px;
  font-size: small;
}
  /* Centercolumn */
.ColumnCenter {
  width: 100%;
  text-align: left;
  padding:20px;
  font-size: medium;
}
h4{
  font-size:x-large;
}
 /* Bottom Column */
.ColumnBottom {
  text-align: left;
  font-size: large;
  padding:20px
}
h5{
  font-size: x-large;
}
.side_by_side {
  display: flex;
}

